<%- include('../layout/header.ejs') %>
<link href="../bootstrap/css-tambahan/index.css" rel="stylesheet">
<%- include('../layout/navbar.ejs') %>
<body>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <h1>Lokasi Kami</h1>
    <!-- Embed Google Map -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d26643.43556701307!2d107.58611339407055!3d-6.941834882727381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sid!4v1736358785475!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h2>Hubungi kami : </h2>
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
    
</body>
<%- include('../layout/footer.ejs') %>
