<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grocetaurant's Inventory</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Tambahkan gaya untuk tema kuning */
    [data-bs-theme="yellow"] {
      --bs-body-bg: #eed00d; /* Latar belakang kuning pucat */
      --bs-body-color: #dac20b; /* Warna teks */
      --bs-link-color: #deb80f; /* Warna link */
      --bs-border-color: #dcb713; /* Warna border */
    }

    [data-bs-theme="yellow"] .navbar {
      background-color: #debb11 !important; /* Warna navbar */
      color: #eec80b !important; /* Warna teks navbar */
    }

    [data-bs-theme="yellow"] .navbar-brand {
      color: hsla(53, 91%, 49%, 0.927) !important; /* Warna teks merek navbar */
    }

    [data-bs-theme="yellow"] .navbar-toggler-icon {
      background-color: #e8c814; /* Warna ikon toggle */
    }
  </style>
</head>
<body>
  <header class="navbar sticky-top bg-warning flex-md-nowrap p-0 shadow" data-bs-theme="yellow">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Grocetaurant's Inventory</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </nav>
  </header>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="bootstrap" viewBox="0 0 118 94">
    <title>Bootstrap</title>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
  </symbol>
  <symbol id="home" viewBox="0 0 16 16">
    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
  </symbol>
  <symbol id="speedometer2" viewBox="0 0 16 16">
    <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
    <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
  </symbol>
  <symbol id="table" viewBox="0 0 16 16">
    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
  </symbol>
  <symbol id="people-circle" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
  </symbol>
  <symbol id="grid" viewBox="0 0 16 16">
    <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
  </symbol>
  <symbol id="database-gear" viewBox="0 0 16 16">
    <path d="M8 0C3.582 0 0 1.343 0 3v10c0 1.657 3.582 3 8 3s8-1.343 8-3V3c0-1.657-3.582-3-8-3zM7 1h2v2H7V1zm4.354 2.646l1.414 1.414-1.553 1.553 1.414 1.414-1.553 1.553-1.414-1.414-1.553 1.553-1.414-1.414 1.553-1.553-1.414-1.414 1.553-1.553zM8 4c-1.589 0-3 1.016-3 2.25S6.411 8.5 8 8.5s3-1.016 3-2.25S9.589 4 8 4zm0 3.5c-.828 0-1.5-.672-1.5-1.5S7.172 4.5 8 4.5s1.5.672 1.5 1.5S8.828 7.5 8 7.5z"></path>
  </symbol>
  <symbol id="box2" viewBox="0 0 16 16">
    <path d="M2.95.4a1 1 0 0 1 .8-.4h8.5a1 1 0 0 1 .8.4l2.85 3.8a.5.5 0 0 1 .1.3V15a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4.5a.5.5 0 0 1 .1-.3zM7.5 1H3.75L1.5 4h6zm1 0v3h6l-2.25-3zM15 5H1v10h14z"></path>
  </symbol>
  <symbol id="globe2" viewBox="0 0 16 16">
    <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m7.5-6.923c-.67.204-1.335.82-1.887 1.855q-.215.403-.395.872c.705.157 1.472.257 2.282.287zM4.249 3.539q.214-.577.481-1.078a7 7 0 0 1 .597-.933A7 7 0 0 0 3.051 3.05q.544.277 1.198.49zM3.509 7.5c.036-1.07.188-2.087.436-3.008a9 9 0 0 1-1.565-.667A6.96 6.96 0 0 0 1.018 7.5zm1.4-2.741a12.3 12.3 0 0 0-.4 2.741H7.5V5.091c-.91-.03-1.783-.145-2.591-.332M8.5 5.09V7.5h2.99a12.3 12.3 0 0 0-.399-2.741c-.808.187-1.681.301-2.591.332zM4.51 8.5c.035.987.176 1.914.399 2.741A13.6 13.6 0 0 1 7.5 10.91V8.5zm3.99 0v2.409c.91.03 1.783.145 2.591.332.223-.827.364-1.754.4-2.741zm-3.282 3.696q.18.469.395.872c.552 1.035 1.218 1.65 1.887 1.855V11.91c-.81.03-1.577.13-2.282.287zm.11 2.276a7 7 0 0 1-.598-.933 9 9 0 0 1-.481-1.079 8.4 8.4 0 0 0-1.198.49 7 7 0 0 0 2.276 1.522zm-1.383-2.964A13.4 13.4 0 0 1 3.508 8.5h-2.49a6.96 6.96 0 0 0 1.362 3.675c.47-.258.995-.482 1.565-.667m6.728 2.964a7 7 0 0 0 2.275-1.521 8.4 8.4 0 0 0-1.197-.49 9 9 0 0 1-.481 1.078 7 7 0 0 1-.597.933M8.5 11.909v3.014c.67-.204 1.335-.82 1.887-1.855q.216-.403.395-.872A12.6 12.6 0 0 0 8.5 11.91zm3.555-.401c.57.185 1.095.409 1.565.667A6.96 6.96 0 0 0 14.982 8.5h-2.49a13.4 13.4 0 0 1-.437 3.008M14.982 7.5a6.96 6.96 0 0 0-1.362-3.675c-.47.258-.995.482-1.565.667.248.92.4 1.938.437 3.008zM11.27 2.461q.266.502.482 1.078a8.4 8.4 0 0 0 1.196-.49 7 7 0 0 0-2.275-1.52c.218.283.418.597.597.932m-.488 1.343a8 8 0 0 0-.395-.872C9.835 1.897 9.17 1.282 8.5 1.077V4.09c.81-.03 1.577-.13 2.282-.287z"/>
  </symbol>
</svg>

<main class="d-flex flex-nowrap">
  <h1 class="visually-hidden">Sidebars examples</h1>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-success" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <% if (user && user.role === 'admin_gudang') { %>
        <!-- Menampilkan hanya menu Products -->
        <li class="nav-item">
          <a href="/" class="nav-link text-white" id="home-link" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
            Home
          </a>
        </li>
        <li>
          <a href="/inventory/products" class="nav-link text-white" id="products-link">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
            Products
          </a>
        </li>
        <li>
          <a href="/aboutus" class="nav-link text-white" id="aboutus-link">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#globe2"></use>
            </svg>
            About US
          </a>
        </li>
      <% } else if (user && user.role === 'admin_administrasi') { %>
        <!-- Menampilkan hanya menu Database -->
        <li class="nav-item">
          <a href="/" class="nav-link text-white" id="home-link" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
            Home
          </a>
        </li>
        <li>
          <a href="/database/edit" class="nav-link text-white" id="database-link">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#database-gear"></use>
            </svg>
            Database
          </a>
        </li> 
        <li>
          <a href="/aboutus" class="nav-link text-white" id="aboutus-link">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#globe2"></use>
            </svg>
            About US
          </a>
        </li>
      <% } else if (user && user.role === 'admin_barang') { %>
        <!-- Menampilkan menu untuk admin_barang -->
        <li class="nav-item">
          <a href="/" class="nav-link text-white" id="home-link" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
            Home
          </a>
        </li>
          <a href="/shipment-details" class="nav-link text-white" id="shipment-link">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#box2"></use>
            </svg>
            Shipment
          </a>
        </li>
        <li>
          <a href="/aboutus" class="nav-link text-white" id="aboutus-link">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#globe2"></use>
            </svg>
            About US
          </a>
        </li>
      <% } else { %>
        <!-- Menampilkan semua menu lainnya -->
        <li class="nav-item">
          <a href="/" class="nav-link text-white" id="home-link" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"/></svg>
            Home
          </a>
        </li>
        <li>
          <a href="/inventory/products" class="nav-link text-white" id="products-link">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
            Products
          </a>
        </li>
        <li>
          <a href="/admin/manage-roles" class="nav-link text-white" id="admin-link">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
            Our Admin
          </a>
        </li>
        <li>
          <a href="/database/edit" class="nav-link text-white" id="database-link">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#database-gear"></use>
            </svg>
            Database
          </a>
        </li>
        <li>
          <a href="/shipment-details" class="nav-link text-white" id="shipment-link">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#box2"></use>
            </svg>
            Shipment
          </a>
        </li>
        <li>
          <a href="/aboutus" class="nav-link text-white" id="aboutus-link">
            <svg class="bi pe-none me-2" width="16" height="16">
              <use xlink:href="#globe2"></use>
            </svg>
            About US
          </a>
        </li>
      <% } %>
    </ul>

    <hr>
    <% if (user) { %>
        <a class="nav-link disabled" href="/change-password">Welcome, <%= user.username %>!</a>
        <a class="nav-link" href="/logout">Logout</a>
        <a class="nav-link" href="/change-password">Change Password</a>
    <% } else { %>
        <a class="nav-link" href="/login">Login</a>
    <% } %>
</div>

    <script>
      // Menambahkan kelas 'active' pada menu yang sesuai berdasarkan URL
      const links = document.querySelectorAll('.nav-link');
      const currentPath = window.location.pathname;
    
      links.forEach(link => {
        const linkHref = link.getAttribute('href');
        if (linkHref === currentPath) {
          link.classList.add('active');
        }
      });
    </script>
  </div>
  
  <script src="../bootstrap/js/bootstrap.js"></script>
  <script src="../bootstrap/js-tambahan/navbar.js"></script>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
