<%- include('../layout/header.ejs') %>
<link href="../bootstrap/css-tambahan/index.css" rel="stylesheet">
<%- include('../layout/navbar.ejs') %>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<body>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="container mt-5">
      <h1 class="display-4 text-center mb-4">Welcome to Our Database</h1>
  
      <!-- Navigation Links with Bootstrap styling -->
      <nav class="text-center mb-4">
        <a href="/categories" class="btn btn-primary btn-lg mx-2">Categories</a>
        <a href="/distributors" class="btn btn-secondary btn-lg mx-2">Distributors</a>
      </nav>
      
      <!-- Optionally, you can add more content below -->
      <div class="alert alert-info text-center" role="alert">
        Navigate through the sections to manage your categories and distributors.
      </div>
    </div>
  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
